h1,h2,.description em {
    font-family: Helvetica;
    font-weight: bold;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    margin-top: 50px;
}

h2 {
    font-size: 32px;
    color: white;
}

.brushesSection h2 {
    background-color: mediumspringgreen;
}


.framesSection h2 {
    background-color: lightcoral;
}

.paintSection h2 {
    background-color: skyblue;
}

.sectionPic {
    margin-left: 0px;
}

.sectionPic figcaption {
    font-weight: bold;
}

.description em {
    color: blue;
    font-style: normal;
}